# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Données confidentielles
*.csv
*.xlsx
data/*
powerbi/*
!data/.gitkeep
!powerbi/.gitkeep

# Lock files
*.lock
.~lock.*
